<div class="border-b border-primary py-16 lg:py-20">
  <div>
    {{{ await $slots.main() }}}
  </div>
  <h1 class="pt-5 text-3xl font-semibold md:text-5xl">
    {{ `/${title}` }}
  </h1>
  @if(description)~
  <p class="pt-3 font-light">
    {{{ description }}}
  </p>
  @end~
</div>
