<div class="border-b pt-10 pb-8">
  <div class="flex">
    <h2 class="grow mb-4">{{ title }} : {{ name }}</h2>
    @!jrmc.form.toggle({ name: cookie.name, value: 'true', class: 'toggle-primary mr-2', checked: cookie.value, 'hx-trigger': 'click', 'hx-post': action  })
  </div>

  <p class="pr-2  font-light text-justify">
    {{ description }}
  </p>
  <a href="{{ url }}" target="_blanck" class="transition-colors hover:text-primary">
    Site officiel
  </a>
</div>
