@jrmc.form.control({ name: 'name', label: t('models.tag.name'), required: true, hint: t('models.tag.name/hint') })
  @!jrmc.form.input()
@end

@jrmc.form.control({ name: 'slug' })
  @!jrmc.form.input()
@end
