@tailwind base;
@tailwind components;
@tailwind utilities;

/* remove bounce effet */
html,
body,
up-drawer * {
  overscroll-behavior-y: none;
}

.container {
  max-width: 600px;

  @screen sm {
    max-width: 700px;
  }

  @screen md {
    max-width: 850px;
  }
}

/* override block theme for editorjs */

.twitter-card {
  @apply mt-8 mb-8 rounded bg-[#f6e8c6] px-6 py-8 sm:mt-10 sm:mb-10 md:px-10;
}

.inline-code {
  @apply bg-error;
  @apply text-error-content;
}

.inline-code::before {
  content: '';
}

.inline-code::after {
  content: '';
}

/* Pagination */

.pagination .btn.btn-active {
  @apply border-primary text-primary;
}

/* Force class for dynamisation */

.alert.info {
  @apply alert-info;
}

.alert.success {
  @apply alert-success;
}

.alert.warning {
  @apply alert-warning;
}

.alert.error {
  @apply alert-error;
}

@config "../../tailwind.front.config.js";
