@if(code)~
<div class="relative">
  <button type="button" aria-label="Copier le code" class="absolute top-5 right-5" data-clipboard-text="{{ code }}">
  @!front.icons.copy()
  </button>
  {{{ highlighter.codeToHtml(code, { lang: language }) }}}
</div>
@end~
