<blockquote class="twitter-card">
  @if(text)~
  <p class="text-base-content dark:text-base-200">{{{ text }}}</p>
  @end~
  @if(caption)~
  <footer class="text-base-content dark:text-base-200">{{{ caption }}}</footer>
  @end~
</blockquote>
