@jrmc.card({ class: 'bg-base-300' })
  @jrmc.card.body()
    @jrmc.form.control({ name: 'title', required: true, hint: '2 characters minimum' })
      @!jrmc.form.input()
    @end

    @jrmc.form.control({ name: 'slug' })
      @!jrmc.form.input()
    @end
  @end
@end

@jrmc.card({ class: 'bg-base-300 mt-4' })
  @jrmc.card.body()
    @!admin.editor()
  @end
@end
