@layout('layouts/admin')

@set('title', t('seo.admin.dashboard.title'))

@section('body')

  @admin.content()
    @jrmc.form.control({ name: request.qs().inputName })
      @!admin.form.mediapicker({ hint: 'jpg, png or webp. 1O MB max.', media, entity: request.qs().entity })
    @end
  @end

@end
