<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="manifest" href="/site.webmanifest" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" />
  @if(env('NODE_ENV') === 'development')~
    <meta name="mode" content="{{ env('NODE_ENV') }}">
  @end~
  <title>{{ title }}</title>
  {{ csrfMeta() }}
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>

  @!section('body')

</body>
</html>
