<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>

<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">

    @section('toast')
      @if(flashMessages.has('success'))
        @jrmc.toast({
          class: ['toast-top', 'toast-end'],
          'x-data': '{ open: true }',
          'x-show': 'open',
          'x-transition.duration.500ms': '',
          'x-init': 'setTimeout(() => open = false, 5000);setTimeout(() => $el.remove(), 4000)',
        })
          @!jrmc.alert.success({ text: flashMessages.get('success.message'), class: ['max-w-xs', 'text-left'] })
        @end
      @endif
    @end
    @!section('body')

  </div>
</div>

</body>
</html>
