<div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 @2xl:grid-cols-3 lg:px-8">
  @if($props.title || $props.description)
    <div>
      <h2 class="text-base font-semibold leading-7 text-white">{{ $props.title ? $props.title : '' }}</h2>
      <p class="mt-1 text-sm leading-6 text-gray-400">{{ $props.description ? $props.description : '' }}</p>
    </div>
  @end

  {{{ await $slots.main() }}}
</div>
